body {
  margin:0;
  font-family: Verdana;
  font-size:14px;
}


.message-input {
  width:100%;
  position:fixed;
  bottom:0;
  padding:10px;
  background:#ddd;
  border-top:1px solid;
}

.message-input input {
  width:80%;
}

.a-message {
  border:1px solid;
  border-radius:5px;
  background:#ddd;
  padding:10px;
  margin:20px;
}

.spacer {
  height:40px;
}

.property {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  max-width: 150px;
  padding: 10px;
  margin: 10px;
}

/* button */
.btn {
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  margin-left: 15px;
}

/* On mouse-over */
.btn:hover {
  background: #eee;
}

