body {
  margin:0;
  font-family: Verdana;
  font-size:14px;
}


.message-input {
  width:100%;
  position:fixed;
  bottom:0;
  padding:10px;
  background:#ddd;
  border-top:1px solid;
}

.message-input input {
  width:80%;
}

.a-message {
  border:1px solid;
  border-radius:5px;
  background:#ddd;
  padding:10px;
  margin:20px;
}

.spacer {
  height:40px;
}